@font-face{
	font-family: cookie;
	src: url(../fonts/Cookie-Regular.ttf);
	}
	.bru{
	color: white;
	font-style: italic;
	}
	.bru:hover {
	color: yellow;
	cursor: pointer;
	font-weight: bold;
	}
	.navbar {
		max-width: 1780px;
	min-width: 680px;

	}
	.nav-link {
	color: white;
	font-weight: bold;
	margin-left: 10px;
	}
	.nav-link:hover {
	color: white;
	}
	body{
	padding: 0;
	margin: 0;	
	}
	.r1 {
	height: 1000px;
	width: 100%;
	background-repeat: inherit;
	position: relative;


	}
	.r2{
	min-height: 485px;
	background-color: #2a3b40;
	width: 100%;
	}
	.r3 {
	min-height: 375px;
	background-color: #d4d8d9;
	width: 100%;
	}
	.r4 {
	height: 1200px;
	width: 100%;
	}
	.r3 {
	min-height: 375px;
	background-color: #d4d8d9;
	width: 100%;
	}
	.r6 {
	min-height: 375px;
	background-color: #d4d8d9;
	width: 100%;
	}
	.fot {
	text-align: center;
	margin-top: 5%;
	font-size: 18px;
	}
	.fot>h3 {
		
		margin-bottom: 15px;
	}
	.fot li a {
		text-decoration: none;
		color: black;
		font-weight: 500;

	}
	.fot li {
		padding-top: 10px;
	}
	.fot li a:hover {
		color: brown;
		font-style: italic;
	}
	.fot ul {
		
		text-align: left;
	}
	#r4bg{
	position:fixed;
        z-index: -1;
        top:0;
        left:0; 
        min-width:100%;
        min-height:100%;
	}
	.log {
	background-color: rgba(255, 255, 255, .8);
	height: 472px;
	border-radius: 5px;
	text-align: center;
	position: absolute;
	top: 20%;
	margin: 0;
	left: 25%;
	}
	.im1 {
	height: 20px;
	width: 20px;
	float: left;
	text-align: center;
	margin-left: 2px;
	}
	.im2 {
	height: 150px; //270
	float: left;
	padding-right: 0;
	}
	.im1:first-child{
	margin-left: 22px;
	}
	.card {
	background-color: rgba(245, 245, 245, 0);
	border: 0;
	margin-top: 15%;
	margin-bottom: 10%;
	}
	.menu {
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	top: 20%;
	border-radious: 2px;
	width: 1080px;
	padding: 0;
	}
	.tit1 {
	font-family: cookie, sans-serif;
	color: black;
	font-size: 40pt;
	margin-top: 5px;
	}
	.tit2 {
	font-family: arial, sans-sefir;
	color: brown;
	margin-bottom: 25px;
	}
	
		.tit11 {
	font-family: cookie, sans-serif;
	color: black;
	font-size: 59pt;
	margin-top: 5px;
	}
	.tit21 {
	font-family: arial, sans-sefir;
	color: brown;
	font-size: 34px;
	}
	
	
@media (max-width: 576px){
.f-crd{
	width: 440px! important; //540
	margin-left:auto! important;
	margin-right:auto! important;
}
}
	
@media (min-width: 576px){
.f-top {
    width: 560px! important;
	margin:auto! important;
	padding-left: 0;
	padding-right: 0;
}
.f-crd{
	font-size: .25rem;
    max-width: 170px! important;
	margin-left:auto! important;
	margin-right:auto! important;
}

}

@media (min-width: 768px){
.f-top {
    max-width: 760px! important;
	margin-left:auto! important;
	margin-right:auto! important;
}
.f-crd{
	font-size: .55rem;
    max-width: 245px! important;
	margin-left:auto! important;
	margin-right:auto! important;
}
}


 
 @media (min-width:992px){
 .f-top{max-width:990px! important;margin:auto! important;}
 .f-crd{
	font-size: .75rem;
	max-width: 320px! important;
	margin-left:auto! important;
	margin-right:auto! important;
}
}
  
 @media (min-width:1200px){
 .f-top{max-width:1190px! important;margin:auto! important;}
 .f-crd{
	font-size: 1rem;
    max-width: 380px! important;
	margin-left:auto! important;
	margin-right:auto! important;
}
}
.block{  
  flex-grow:1;
  width: 200px;
  height: 200px;
}
.block2{  
  flex-grow:1;
  width: 200px;
}
.im3 {
width: 100%;
height: 100%;

}
.block > p, h5 {
margin : 15px;
text-align: center;
}

.card-body {
padding-top: 0;
}
.card-text {
font-size: 16px;
}


.block h5:after {
	display: block;
	left: 0%; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: brown; /*задаём цвет линии*/
	opacity: 0.8;
	content: "";
	transition: width 0.3s ease-in-out; /*задаём время анимации*/
	-webkit-transform:translateX(10%);
    -moz-transform:translateX(10%);
    transform:translateX(10%);
}

.block h5:hover:after,
.block h5:focus:after {
	width: 80%;
}
.bb {
margin-top: 35px;
font-style: italic;
}
.soc-t {
	color: white;
	text-align: center;
	
	font-size: 22px;
	padding-top: 4%;
	
}
.soc-t blockquote {
	font-style: italic;
	font-size: 26px;
	font-weight: 600;
	padding-top: 2%;
}
.soc-img {
	margin-top: 2%;
}
.soc-img img {
	margin-left: 5px;
	margin-right: 5px;
}
.btn-color {
	background-color: #2a3b40;
}